<div class="book-details" data-controller="book-details" data-book-details-id="<%= @book.id %>" data-book-details-book-url="<%= book_path(@book) %>">
  <div class="row mt-3">
    <div class="col-sm-3">
      <b>Rate this book</b>
    </div>
    <div class="col-sm-6 rating text-warning">
      <% Book::RATING_RANGE.each do |rate| %>
        <i class="<%= rate <= @book.rating.to_i ? 'fas' : 'far' %> fa-star rating-star" data-action="click->book-details#rate" data-rate="<%= rate %>"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to 'Edit Book Info', edit_book_path(@book) %>
    </div>
  </div>
  <div class="row">
    <div class="col text-justify">
      <%= @book.description %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <%= link_to 'Read Less', '', data: { action: 'book-details#readLess' } %>
    </div>
  </div>
</div>